// colors
$colors: (
  alabaster: #f7f7f7,
  alizarin-crimson: #e51f34,
  black-rock: #090224,
  bright-sun: #fdcd3a,
  half-baked: #7fbbca,
  victoria: #4649a3,
  white: #fff,
);

// breakpoints
$breakpoints: (
  xs: 560px,
  sm: 767px,
  md: 992px,
  lg: 1200px,
);
